/* LAYOUT ------------------------------------------------------------------- */

body {
  background-color: #66858c;
  margin: 0;
}

h1, p, a {
  font-family: 'Inconsolata', monospace;
}

section {
  margin: 20px;
}

.windows {
  margin-left: 100px;
  position: relative;
  z-index: 13;
}

.draggable {
  background-color: white;
  border-top: 2px solid gray;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid gray;
  /*cursor: move;*/
  display: inline-block;
}

.draggable h1 {
  border-bottom: 1px solid black;
  font-size: 1em;
  margin-top: 0;
  padding: 5px;
  cursor: move;
}

.draggable p {
  padding: 5px;
  max-width: 500px;
}

.image-block h1 {
  margin-bottom: 0;
}

.image-block p {
  margin: 0;
  padding: 0;
}

.image-block img {
  display: block;
}

.no_bamboozle p {
  font-size: 2em;
  margin: 0;
  text-align: center;
}

.no_bamboozle a {
  text-decoration: none;
}

footer {
  background-color: #C0C0C0;
  border-top: 2px solid #F8FBFA;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 666;
}

footer .portal {
  border-top: 2px solid #F8FBFA;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid #F8FBFA;

  display: inline-block;
  font-weight: bold;
  margin: 5px;
  padding: 2px 5px;
  text-decoration: none;
}

a.portal, a.portal:visited {
  color: black;
}

footer .timestamp {
  border-top: 1px solid black;
  border-right: 1px solid #F8FBFA;
  border-bottom: 1px solid #F8FBFA;
  border-left: 1px solid black;

  display: inline-block;
  float: right;
  margin: 5px;
  padding: 5px 5px;
}

.mobile-design {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  body {
    background-color: white;
  }

  .mobile-design {
    display: unset;
  }

  .mobile-design p {
    padding: 10px;
  }

  .web-design {
    display: none;
  }
}

/* TENEBRA ------------------------------------------------------------------ */

#tenebra {
  left: 700px;
  position: absolute;
  top: 300px;
}

.tenebra-gif {
  max-width: 400px;
}

/* FANTOM ------------------------------------------------------------------- */

#fantom {
  left: 800px;
  position: absolute;
  top: 500px;
  z-index: 1;
}

#fantom p {
  background-color: #121212;
  padding: 20px;
}

/* PIXEL LAB ---------------------------------------------------------------- */

#pixel-lab {
  left: 650px;
  position: absolute;
  top: 50px;
}

.pixellab-img {
  max-width: 200px;
}

/* ARTBOARD 1 --------------------------------------------------------------- */

#artboard1 {
  left: 800px;
  position: absolute;
  top: 100px;
}

.artboard1-img {
  max-width: 250px;
  padding: 30px;
}

/* TALKS -------------------------------------------------------------------- */

#talks {
  left: 200px;
  position: absolute;
  top: 500px;
}

/* PORTFOLIO ---------------------------------------------------------------- */

#portfolio {
  left: 100px;
  position: absolute;
  top: 150px;
}

/* GHOST -------------------------------------------------------------------- */

#ghost {
  left: 50px;
  position: absolute;
  top: 500px;
}

/* DESKTOP ICONS ------------------------------------------------------------ */

.desktop-icons {
  left: -10px;
  position: absolute;
  top: -5px;
}

.desktop-icons ul {
  list-style: none;
}

.desktop-icons li {
  margin: 40px auto;
  text-align: center;
}

.desktop-icons p {
  font-size: 2em;
  margin-bottom: 0;
}

.desktop-icons a {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
}

